<!--
 * @Author: veni
 * @Date: 2019-10-18 11:24:12
 * @LastEditors: veni
 * @LastEditTime: 2019-10-18 14:38:52
 * @Description: 
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <hl>登录</hl>
    <form method='POST' action='/'>
        <p>用户名</p><input name='userName' /><br/>
        <p>用户名</p><input name='password' type='password'/><br/>
        <button type='submit' >submit</button>
    </form> 
</body>
</html>