<!--
 * @Author: veni
 * @Date: 2019-11-07 17:16:33
 * @LastEditors: veni
 * @LastEditTime: 2019-11-08 11:16:51
 * @Description: 
 -->
{% extends "common/layout-home.html" %} 
{% block homeBanner %}
<div class="banner_box">
    <div class="banner_inner">
        <h2 class="slogan">忠信诚和 专业专注</h2>
        <p class="des">做企业，讲究“忠信诚和”、言行一致；秉持以业为专、“专业专注”的做事态度。<br>这些年，公牛始终以“为客户创造安全舒适的用电环境”为使命，为达成“成为国际民用电工行业领导者”的企业愿景而不懈努力。</p>
        <a href="javascript:;" title="gogogo" class="btn" id="gogogo">成功登录</a>        
    </div>
</div>
{% endblock %}