<!--
 * @Author: veni
 * @Date: 2019-11-07 17:16:33
 * @LastEditors: veni
 * @LastEditTime: 2019-11-08 11:13:15
 * @Description: 
 -->
<footer class="footer">
  <div class="footer-box wraper">
      <p class="title">创新科技，为亿万家庭提供安全舒适的用电环境</p>
      <p class="link"><a href="http://www.gongniu.cn" target='_blank' >http://www.gongniu.cn/</a></p>
      <br>
      <p class="info">公牛集团股份有限公司创办于1995年，公司专注于以转换器、墙壁开关插座为核心的民用电工产品的研发、生产和销售，主要包括转换器（即延长线插座、移动式插座等）、 墙壁开关插座、LED照明、数码配件等电源连接和用电延伸性产品，广泛应用于家庭、办公等用电场合。</p>
      <p class="police">沪ICP备17041059号 ©2017-2018 </p>
  </div>
</footer>